/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');

body, 
.header-wrapper .title a,
.header-wrapper .header-right-wrap .nav .nav-item a,
.header-wrapper .header-right-wrap .search-box,
.mobile-header-bar,
#mobile-header .mobile-header-title .mobile-home-link,
.vuepress-blog-theme-content,
.ui-post-title,
.ui-post-title a,
.vuepress-blog-theme-content
  font-family: 'Open Sans', sans-serif !important

.home .hero img
  max-width: 450px!important

.social-share--header
  position: absolute
  right: 0
  top: 1.6rem
  @media (min-width: $MQNarrow)
    right: 2rem
    top: 5.5rem
  @media (max-width: $MQMobileNarrow)
    right: 1.5rem
    top: -0.8rem

.social-share--footer
  text-align: center